*,
*::before,
*::after {
  box-sizing: border-box;
}
.bg {
  background-color: black;
  min-height: 100vh;
}
.logo {
  background-image: url("./assets/images/star-wars.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
}
